@import "tailwindcss";

@theme {
  --color-primary: #f7ba34;
  --color-secondary: #69a79c;
  --color-light: #f7f7f7;
  --color-dark: #333333;
  --color-dark2: #999999;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @variant sm { padding-inline: 2rem; }
  @variant lg { padding-inline: 4rem; }
  @variant xl { padding-inline: 5rem; }
  @variant 2xl { padding-inline: 6rem; }
}

@layer components {
  .primary-btn {
    @apply inline-block bg-primary text-white font-semibold rounded-lg
     hover:bg-secondary duration-200 shadow-[0px_10px_8px_-7px_#ffd978] 
     hover:shadow-[0px_10px_8px_-7px_#69a79c] 
     py-2 px-6;
  }
}

@layer utilities {
  .drop-shadow {
    filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
  }
}